{% extends 'base.html' %}

{% block content %}

    <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-2 justify-content-center">
        <div class="card p-3" style="margin-bottom: 20px">
            <font size="4em" color="#1E00FF">
                동아리 등록
            </font>
        </div></div>

    <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-2 justify-content-center">
        <div class="card p-3">
            <form action="{% url 'club:club_signup' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <h4>동아리 명 </h4>
                <input type="text" class="form-control" name="club_name">
                <br>
                <h4>동아리 유형 </h4>
                {#                적절한 동아리 유형 이곳에 추가          #}
                {#                club_update.html도 같이 수정해줘야함           #}
                <select class="form-select" aria-label="Default select example" name="club_info" style="width: 100%">
                    <option selected>유형 선택</option>
                    <option value="운동">운동</option>
                    <option value="레저">레저</option>
                    <option value="사진">사진</option>
                    <option value="영상">영상</option>
                    <option value="봉사">봉사</option>
                    <option value="음악">음악</option>
                    <option value="여행">여행</option>
                    <option value="종교">종교</option>
                    <option value="공부">공부</option>
                    <option value="교육">교육</option>
                    <option value="문화">문화</option>
                    <option value="토론">토론</option>
                    <option value="레저">레저</option>
                    <option value="기타">기타</option>
                </select>
                <br>
                <h4>동아리 소개글 </h4>
                <textarea name="club_contents" class="form-control" rows="10" cols="80"></textarea>
                <br>
                <h4>동아리 위치 </h4>
                <input type="text" class="form-control" name="club_loc">
                <br>
                <h4>동아리 소개 사진 </h4>
                <input type="file" name="club_images" accept="image/*">
                <br>

                <div class="p-1 d-flex justify-content-center">
                    <input class="btn btn-dark" type="submit" value="동아리 등록" style="width: 100%">
                </div>
            </form>
        </div>
    </div>


{% endblock %}