{% extends 'base.html' %}


{% block content %}
    <form action="{% url 'user:user_signup' %}" method = "POST">
        {% csrf_token %}

        <div class="pt-1">
            <input class="form-control form-control-lg" type="text" placeholder="아이디" name="username">
        </div>

        <div class="pt-1">
            <input class="form-control form-control-lg" type="password" placeholder="비밀번호" name="password">
        </div>

        <div class="pt-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value=1 id="flexCheckDefault" name="selected[]">
                <label class="form-check-label" for="flexCheckDefault">
                    동아리 운영자
                </label>
            </div>
        </div>
        <div class="pt-2">
            <input type="submit" class="btn-custom" value="회원가입">
        </div>
    </form>

{% endblock %}