{% extends 'base.html' %}

{% block content %}

    <div class="bd-example">
        <form action="{% url 'user:user_signup' %}" method = "POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" >아이디</label>
                <input type="text" class="form-control" placeholder="아이디" name="username">
                <div class="form-text">{{ message_id }}</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">비밀번호</label>
                <input type="password" class="form-control" placeholder="비밀번호" name="password1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">비밀번호 확인</label>
                <input type="password" class="form-control" placeholder="비밀번호 확인" name="password2">
                <div class="form-text"> {{ message_pass }}</div>
            </div>


            <div class="mb-3 form-check">
                <input class="form-check-input" type="checkbox" value=1 name="selected[]">
                <label class="form-check-label" for="exampleCheck1">동아리 운영자</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


{% endblock %}