{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <form action="index.html" method="post" class="loginForm">
            <h2>Login</h2>
            <div class="idForm">
                <label>
                    <input type="text" class="id" placeholder="ID">
                </label>
            </div>
            <div class="passForm">
                <label>
                    <input type="password" class="pw" placeholder="PW">
                </label>
            </div>
            <button type="button" class="btn" onclick="button()">
                LOG IN
            </button>
            <script>
                let button = () => {
                    alert('login Button !')
                }
            </script>
            <div class="bottomText">
                Forgot your Id or Password? <a href="#">sign up</a>
            </div>
        </form>

    </div>

{% endblock %}