{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col">
                <div class="card p-3">
                    <font size="3.5em" color="#1E00FF">
                        본인의 성격 5요인을 체크하여 동아리 매칭을 진행합니다.<br>
                        성격 분석 이론인 <A href = "https://ko.wikipedia.org/wiki/5%EA%B0%80%EC%A7%80_%EC%84%B1%EA%B2%A9_%ED%8A%B9%EC%84%B1_%EC%9A%94%EC%86%8C" target = "self" style="text-decoration-line:none;">OCEAN model</A>을 수정하여 제작했습니다.

                    </font>
                </div>
            </div>
        </div>

        {#        성격 5요인 설명#}
        <div class="row">
            <div class="col col-xs-12">
                <div class="card p-3" style="margin-bottom: 20px">
                    <div class="btn btn-match2" style="width: 100%">개방성</div>
                    <div class="range" style="height: 32px; text-align: center" >
                        <font size="3em" color="#0C6639" style="height: 1px">상상력, 호기심, 모험심, 예술적 감각 등으로 보수주의에 반대하는 성향</font>
                    </div>
                    <hr class="style11">
                    <div class="btn btn-warning" style="width: 100%">친화성</div>
                    <div class="range" style="height: 31px; text-align: center" >
                        <font size="3em" color="#0C6639" style="height: 1px">타인에게 반항적이지 않은 협조적인 태도를 보이는 성향</font>
                    </div>
                    <hr class="style11">
                    <div class="btn btn-info" style="width: 100%">정서적 안정성</div>
                    <div class="range" style="height: 31px; text-align: center" >
                        <font size="3em" color="#0C6639" style="height: 1px">분노, 우울함, 불안감과 같은 불쾌한 정서를 쉽게 느끼지 않는 성향</font>
                    </div>
                    <hr class="style11">
                    <div class="btn btn-success" style="width: 100%">성실성</div>
                    <div class="range" style="height: 31px; text-align: center" >
                        <font size="3em" color="#0C6639" style="height: 1px">목표를 성취하기 위해 성실하게 노력하는 성향</font>
                    </div>
                    <hr class="style11">
                    <div class="btn btn-match" style="width: 100%">외향성</div>
                    <div class="range" style="height: 31px; text-align: center" >
                        <font size="3em" color="#0C6639" style="height: 1px"> 다른 사람과의 사교, 자극과 활력을 추구하는 성향</font>
                    </div>
                    <hr class="style11">
                    <div style="text-align: center">
                        <div class="btn btn-primary justify-content-center" style="width: 100%">
                            <font size="3em" color="white">성격 유형의 결과는 총 6가지 입니다.
                                <br>
                                <div class="btn btn-match-result">믿을만한</div>
                                <div class="btn btn-match-result">진지한</div>
                                <div class="btn btn-match-result">책임감있는</div>
                                <br>
                                <div class="btn btn-match-result">외향적인</div>
                                <div class="btn btn-match-result">활기찬</div>
                                <div class="btn btn-match-result">평범한</div>
                            </font>
                        </div>
                    </div>
                </div>
            </div>



            {#            성격 slider#}
            <div class="col col-lg-8 col-xs-12 col-sm-12 col-12">

                <div class="card p-3">
                    <form action="{% url 'match:match_result' %}" method="POST">
                        {% csrf_token %}
                        <div class="btn btn-match2" style="width: 30%">개방성</div>
                        <div class="range" >
                            <input type="range" class="form-range" name="feature0" id="customRange1" min="1" max="7" step="0.5" style="height: 1px"/>
                            <div class="d-flex justify-content-between " style="height: 7px"> <small class="text-muted">1</small><small class="text-muted">2</small><small class="text-muted">3</small><small class="text-muted">4</small> <small class="text-muted">5</small><small class="text-muted">6</small><small class="text-muted">7</small></div>
                        </div>
                        <hr class="style11">
                        <div class="btn btn-warning" style="width: 30%">친화성</div>
                        <div class="range" >
                            <input type="range" class="form-range" name="feature1" id="customRange1" min="1" max="7" step="0.5" style="height: 1px"/>
                            <div class="d-flex justify-content-between " style="height: 7px"> <small class="text-muted">1</small><small class="text-muted">2</small><small class="text-muted">3</small><small class="text-muted">4</small> <small class="text-muted">5</small><small class="text-muted">6</small><small class="text-muted">7</small></div>
                        </div>
                        <hr class="style11">
                        <div class="btn btn-info" style="width: 40%">정서적 안정성</div>
                        <div class="range" >
                            <input type="range" class="form-range" name="feature2" id="customRange1" min="1" max="7" step="0.5" style="height: 1px"/>
                            <div class="d-flex justify-content-between " style="height: 7px"> <small class="text-muted">1</small><small class="text-muted">2</small><small class="text-muted">3</small><small class="text-muted">4</small> <small class="text-muted">5</small><small class="text-muted">6</small><small class="text-muted">7</small></div>
                        </div>
                        <hr class="style11">
                        <div class="btn btn-success" style="width: 30%">성실성</div>
                        <div class="range" >
                            <input type="range" class="form-range" name="feature3" id="customRange1" min="1" max="7" step="0.5" style="height: 1px"/>
                            <div class="d-flex justify-content-between " style="height: 7px"> <small class="text-muted">1</small><small class="text-muted">2</small><small class="text-muted">3</small><small class="text-muted">4</small> <small class="text-muted">5</small><small class="text-muted">6</small><small class="text-muted">7</small></div>
                        </div>
                        <hr class="style11">
                        <div class="btn btn-match" style="width: 30%">외향성</div>
                        <div class="range" >
                            <input type="range" class="form-range" name="feature4" id="customRange1" min="1" max="7" step="0.5" style="height: 1px"/>
                            <div class="d-flex justify-content-between " style="height: 7px"><small class="text-muted">1</small><small class="text-muted">2</small><small class="text-muted">3</small><small class="text-muted">4</small> <small class="text-muted">5</small><small class="text-muted">6</small><small class="text-muted">7</small></div>
                        </div>
                        <hr class="style11">
                        <button type="submit" class="btn btn-primary" style="width: 100%; text-align: center;"><i class="bi bi-search"></i> 동아리 매칭</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}